@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap');

/* ==============font import aria=============== */


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'El Messiri', sans-serif;
}
.header-logo img {
  width: 250px;
  height:250px;
}
.header-logo {
  display: flex;
  justify-content: center;
  /* background-color: #f53b57; */
}
.nav-links ul li, a {
  text-decoration: none;
  list-style: none;
  color: white;
}
body {
  background: url(/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.nav-links ul li {
  margin: 10px 20px 0 0;
  border-radius: 24px 0px;
  background-color: #e91736;
  border: 2px solid #b5a636;
  display: flex;
  padding: 5px;
  transition: linear 0.1s border-radius ;
}
.nav-links ul li:hover {
  border-radius: 20px;
}
.nav-links ul {
  display: flex;
}
.nav-links {
  display: flex;
  justify-content: center;
}
nav {
  position: sticky;
  top: 0px;
  z-index: 10;
}
section {
  display: flex;
  flex-direction: column;
}
.top-title , h2 {
  display: flex;
  margin: 120px auto 0 auto;
  text-align: center;
  color: white;
  font-weight: 600;
  flex-direction: column;
}
.top-title h2 {
  margin-top: 40px;
}
.top-title a img {
  width: 30px;
  height: 30px;
}
.top-title a {
  display: flex;
  justify-content: center;
  margin: 30px auto 0 auto;
  width: 30px;
  height: 30px;
  width: 0px;
  height: 0px;
}
.devices {
  margin-top: 80px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.devices a {
  margin: 10px;
}
.devices a img {
  width: 250px;
  height:250px;
  transition: 0.5s;
  filter: brightness(80%);
  border-radius: 20px;
}
.devices a img:hover {
  filter: brightness(100%);
}
.devices a h4 {
  text-align: center;
  color: #f53b57;
}
#section {
  margin-top: 150px;
  text-align: center;
  color: #b5a636;
}
.adress-box {
  
  flex-direction: column;
  flex-wrap: wrap;

}
.adress-title h2 {
  color: #b5a636;
  display: flex;
}
.adress {
  color: #ffffff;
  font-size: 20px;
  margin: 30px auto 30px auto;
  border: 3px solid;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 21px 3px black;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  text-align: center;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-title h2{
  text-align: center;
  color: #b5a636;
  margin-bottom: 30px;
}
.about-text {
  font-size: 20px;
  text-align: center;
  color: white;
}
footer {
  display: flex;
  flex-direction: column;
}
.contact-title h2 {
  color: #b5a636;
  margin-bottom: 20px;
}
.contact-text {
  color: white;
  font-size: 20px;
  text-align: center;
}
@media screen and (max-width: 275px) {
  .nav-links {
    display: flex;
  }
  nav {
    position: unset;
  }
  .nav-links ul {
    flex-direction: column;
  }
  .nav-links ul li a {
    border-radius: 10px;
    padding: 0px;
    margin:0 auto;
    font-size: 20px;
  }
}
@media screen and (min-width: 276px) and (max-width: 318px) {
  .nav-links ul li {
    border-radius: 10px;
    padding: 0px;
    margin:0 auto;
  }
  .nav-links ul li a {
    font-size: 13.4px;
  }
}
@media screen and (min-width: 319px) and (max-width: 365px){
  .nav-links ul li {
    border-radius: 24px;
    padding: 1px;
    margin:0 auto;
  }
  .nav-links ul li a {
    font-size: 15px;
  }
}
@media only screen and (min-width: 365px) and (max-width: 475px) {
  .nav-links ul li{
    border-radius: 24px;
    padding: 4px;
    margin:0 auto;
  }
}